@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;

}
#root{
    height: 100vh;
}
.cluster-icon{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #fff;
    transform: translate(-25%,-25%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 1.5rem;    
}

/* Custom styles for dark mode */
html {
  @apply bg-gray-100; /* Light mode background */
}

.dark {
  @apply bg-gray-900; /* Dark mode background */
}
/* Custom Scrollbar Style */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4ade80; /* Tailwind's green-400 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #22c55e; /* Tailwind's green-500 */
}

/* Firefox Support */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4ade80 #f1f1f1;
}
